<div
  th:fragment="user-update-password-form-fields"
  class="container-review user-registration update-password modal_active"
>
  <div
    class="wrapper_review-content user-registration owner-update user-update modal_active"
  >
    <form th:action="@{/user/update/updatepassword}" method="POST">
      <div class="wrapper-modal user-registration">
        <h2 class="fields-header owner-update user-update">Parola Düzenle</h2>
        <h2
          class="fields-header user-header-info"
          th:text="${'&quot; '+username+' &quot;'}"
        ></h2>
        <div
          class="wrapper-modal_fields user-registration user-update"
          style="width: 400px"
        >
          <input
            type="text"
            id="userId"
            name="userId"
            style="visibility: hidden; position: absolute"
          />
          <div>
            <label for="password">*Yeni Parola</label>
            <input
              type="text"
              id="password"
              name="password"
              class="new-password-fields"
            />
          </div>
        </div>
      </div>
      <button
        type=" submit"
        class="modal-from-submit user-registration owner-update user-update"
      >
        Kaydet
      </button>
    </form>
    <div class="modal-closed-button animal-update">
      <a href="/user"><i class="fas fa-times"></i></a>
    </div>
  </div>
</div>
