<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/error.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container-error-page">
        <h2 class="error-page-header 404">
            Aradığınız sayfaya ulaşılamadı.
        </h2>
        <a class="home-page-link" href="/">
            Anasayfa
        </a>
    </div>
</body>

</html>